<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="c.g.a.x.module_chat">


    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application android:exported="false">
        <activity
            android:name=".detail.ChatDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <service android:name="org.eclipse.paho.android.service.MqttService" /> <!-- MqttService -->
        <service android:name=".mqtt.MyMqttService" />
    </application>


</manifest>
