<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="c.g.a.x.module_main">

    <application android:exported="false">

        <activity
            android:name=".welcome.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FirstTheme"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".guide.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FirstTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>

</manifest>