<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="c.g.a.x.lib_weixin">

    <application>
        <activity
            android:name="com.test.app.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="${placeholder_wx_app_id}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.test.app.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="${placeholder_wx_app_id}" />
            </intent-filter>
        </activity>
    </application>
</manifest>
